*{
    margin: 0%;
    margin-top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#background{
    background-image: url('./imagens/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
#header{
    display: flex;
    margin:  0% 1.5%;
    margin-bottom: 0%;
}
#header img{
    width: 75px;
}
#header h2{
    text-shadow: 1px green;
    margin-top: 2%;
    color: white;
    font-size: 30px;
}
#game{
    display: flex;
    justify-content: space-around;
    margin: 1% 5%;
}
#matriz{
    width: 550px;
    height: 500px;
    border: 2px solid rgba(26, 24, 24, 0.55);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,1.85);
}
.column{
    height: 20px;
    width: 20px;
    border: 1px solid rgba(0,0,0,0);
}
.row{
    display: flex;
}
.headSnake{
    /* background-image: url('./imagens/headsnake.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
}
.apple{
    background-color: red;
}
.bodySnake{
    background-color: chartreuse;
}
#initial {
    display: grid;
    justify-content: center;
    margin: 25% 100px;
}
#initial input {
    border: none;
    background: rgba(255, 255, 255, 0.637);
    width: 70%;
    height: 20px;
    margin-bottom: 5px;
    color: black;
    font-weight: bolder;
}
#initial label {
    color: red;
    font-size: 17px;
    font-weight: bold;
}
.buttonDefault{
    border: none;
    background-color: rgba(255, 0, 0, 0.774);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,1.85);
    color: white;
    font-size: 17px;
    height: 25px;
    cursor: not-allowed;
}
.buttonStartGame {
    border: none;
    background-color: rgba(94, 255, 0, 0.774);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,1.85);
    color: white;
    font-size: 17px;
    height: 25px;
    cursor: pointer;
}
#initial h2{
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
}
#initial img{
    margin: 0px 130px;
    width: 35%;
}
#gameOver{
    display: none;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
    visibility: hidden;
}
#gameOver img{
    width: 85px;
}
#gameOver h2{
    color: rgba(255, 0, 0, 0.774);
    font-size: 30px;
}
#gameOver p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.buttonGameOver{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}
#retry, #newPlay {
    border: 1px solid rgba(245, 245, 245, 0.541);
    background-color: rgba(255, 0, 0, 0.774);
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
#score, #ranking{
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid rgba(26, 24, 24, 0.55);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,1.85);
    width: 20%;
    text-align: center;
}